# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are: R, C++ and Ruby

# Some of the commonly used libraries used by Data Scientists include: Julia, Viola and Anaconda

## Execute as a markdown cell

| Country Name | Capital |
| -------------| ------ |
| United States | Washington DC |
| Australia | Canberra |
| India | New Delhi |

## Execute as a markdown cell

| Data Science Tools |
| -------------|
| Pytho |
| Rstudio |
| Viola |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
### Below are a few examples of evaluating arithmetic expressions in Python
a = 3
b = 2
c = a + b
d = a*c
print (c)
print (d)

5
15

In [10]:
a = (3*4)+5
print ("This a simple arithmetic expressiaon to mutiply then add integers")
print (a)

This a simple arithmetic expression to mutiply then add integers
17

In [11]:
a = 200
b = 60
c = a/b
print ("This will convert 200 minutes to hours by diving by 60")
print (c)

This will convert 200 minutes to hours by diving by 60
3.3333333333333335

# **Objetivos**

# **Lista**
- primero
- segundo
- tercero
- cuarto
- quinto

# **Objetivos**
- primero
- segundo
- tercero
- cuarto
- quinto

## Author

## Author
print ("Rafael Gonzalez Alvarez")

## Author
Rafael Gonzalez Alvarez